

<div class="container">
<%= form_for @team do |f| %>
   <div>
   <% if @team.errors.any? %>
   <div id="error_explanation">
   <div class="alert alert-danger">
    The form contains <%= pluralize(@team.errors.count, "error") %>.
   </div>
   <ul>
   <% @team.errors.full_messages.each do |msg| %>
   <li><%= msg %></li>
   <% end %>                   
   </div>
   <% end %>
   </div>
  
  
   <table>
   <tr><td>
   <%= f.label :team_name, class:'control-label col-lg-2' %>
   </td>
   <td>
   <%= f.text_field :team_name %>
   </td>
   </tr>
    
   <tr><td>
   <%= f.label :ground_name, class: 'control-label col-lg-2' %>
   </td>
   <td>
   <%= f.text_field :ground_name %>
   </td></tr>
    
   <tr><td>
   <%= f.hidden_field :captain_id,class: "select-id" %>
   <%= link_to 'select captain',load_users_teams_path,remote: true, class: 'btn btn-default'   %>
   </td><td>
   <%= f.text_field :captain_name, class: "form-controls", readonly: true %>    </td></tr>
   <tr><td>
      <%= f.submit nil, class: 'btn btn-primary' %></td><td>
      <%= link_to t('.cancel', default:t("helpers.links.cancel")),
                root_path, class:'btn btn-default' %>
   </td></tr>
  </table>
<% end %>
</div>
