<table class="table table-striped">
<tr><th>Id</th><th>Team Name</th><th>Ground Name</th><th>Captain Name</th><th>Manage</th></tr>
<% @team.each do |f| %>
<tr> <td><%= f.id  %></td> 
     <td><%= f.team_name %></td>
     <td><%= f.ground_name %></td>
     <td><%= f.captain&.first_name %></td>
     <td><%= link_to 'Add player' %></td>
     <td><%= link_to 'Destroy',method: :destroy, data:{confirm:'Are you sure'}%></td>
</tr>
<%end%>
</table>
